@use '../../../Styles/header';

.header {
  display: flex;

  margin-top: 80px;
}

.header__left {
  position: relative;

  display: flex;
  align-items: center;

  flex-shrink: 0;
  width: 53.125%;

  padding-bottom: 100px;
  margin-left: 2.25rem;
}

.header__connect {
  &-media {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 60px;

    margin-bottom: 1.875rem;

    background-color: white;
    border: 1px solid #0d9206;
    border-radius: 50%;
  }

  &-share {
    display: flex;
    align-items: center;

    height: 60px;
    width: max-content;

    padding: 0.75rem 1.25rem;

    background-color: #789376;
    border-radius: 6rem;
  }

  &-icon {
    height: 60%;

    &--twitter {
      height: 45%;
    }

    &--share {
      height: 90%;
    }
  }

  &-description {
    margin-left: 0.875em;

    font-family: "source-sans-pro", sans-serif;
    font-size: 1.75rem;
    line-height: 1.4em;
    color: white;
  }
}

.header__trip {
  position: relative;

  &-images {
    position: relative;

    z-index: -10;

    transform: translateX(-80px);

    &::before {
      content: "";
      position: absolute;
      top: 10%;

      width: 34px;
      height: 34px;

      background-color: #ff8800;
      border-radius: 50%;
    }
  }

  &-image {
    width: 100%;

    filter: drop-shadow(30px 70px 60px rgba(black, 0.2));
  }

  &-decoration {
    position: absolute;
    left: 0;

    z-index: -10;

    width: 100%;

    transform: rotate(-20deg);

    &--rotate {
      z-index: -20;

      transform: rotate(5deg);
    }
  }

  &-offer {
    position: absolute;
    top: 0;
    right: 0;

    padding: 1rem 1.5rem;
    padding-right: 2.5rem;

    background-color: white;
    box-shadow: -8px 14px 27px rgba(black, 0.15);
    border-radius: 0.75rem;
  }

  &-time {
    width: 70%;

    padding-bottom: 0.33em;

    border-bottom: 4px solid #ff8800;

    font-size: 2.25rem;
    font-weight: 800;
    line-height: 1.4em;
    color: #0d9206;
  }

  &-cost {
    margin-top: 0.33em;

    font-family: "source-sans-pro", sans-serif;
    font-size: 2rem;
    line-height: 1.4em;
  }
}

.header__more {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;

  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 60px;

    box-shadow: 0px 7px 20px rgba(black, 0.25);
    border-radius: 50%;
  }

  &-icon {
    width: 60%;
    opacity: 0.5;
  }

  &-description {
    margin-left: 1.25em;

    font-family: "source-sans-pro", sans-serif;
    font-size: 1.75rem;
    line-height: 1.4em;
    color: #789376;
  }
}

.header__right {
  width: 46.875%;
}

.header__title {
  padding-left: header.$text-left-space;

  text-shadow: 0px 16px 21px rgba(black, 0.15);

  &-line {
    font-size: 5.25rem;
    font-weight: 800;
    line-height: 1.4em;
  }

  &-highlight {
    display: inline-block;

    margin-left: 0.75em;
    transform: translateY(-0.5em);

    color: #0d9206;
  }
}

.header__cta {
  padding-left: header.$text-left-space;
  width: 80%;

  border-left: 4px solid #0d9206;

  &-text {
    font-family: "source-sans-pro", sans-serif;
    font-size: 1.75rem;
    color: #7d7d7d;
    line-height: 1.42em;
  }

  &-btn {
    border: none;
    background-color: #ff8800;

    margin-top: 1.5em;
    padding: 0.5em 1.5em;

    font-size: 1.75rem;
    line-height: 1.4em;
    color: white;
  }
}

.header__images {
  position: relative;
  display: flex;
  overflow: hidden;

  margin-top: 4rem;
  padding-bottom: 2rem;

  &-item {
    margin-right: 1rem;
    width: 40%;

    box-shadow: 5px 6px 6px rgba(black, 0.15);
    border-radius: 10px;
  }
}

.header__images-cta {
  position: absolute;
  bottom: 30%;
  right: 5%;
  display: flex;
  align-items: center;

  &-description {
    margin-right: 1em;
    padding: 0.5em 1em;

    background-color: rgba(#ffffff, 0.75);
    border-radius: 2em;

    font-family: "source-sans-pro", sans-serif;
    font-size: 1.75rem;
    line-height: 1.4em;
    color: #0d9206;
  }

  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 60px;

    background-color: rgba(#ffffff, 0.75);
    border-radius: 50%;

    transform: rotate(-90deg);
  }

  &-arrow {
    width: 60%;
  }
}
