.nav {
  display: flex;
  align-items: center;

  width: 93.75%;
  margin: 0 auto;
  padding-top: 1.5em;
}

.nav__logo-container {
  font-size: 2rem;
}

.nav__logo {
  color: black;
  font-weight: 700;
  line-height: 1.4em;
  text-transform: uppercase;
  text-decoration: none;

  outline-offset: 0.25em;

  &--green {
    color: #0d9206;
  }
}

.nav__link-list {
  display: flex;
  align-items: center;

  margin-left: 8em;

  font-size: 1.5rem;
  list-style: none;
}

.nav__link-container {
  & + & {
    margin-left: 3.625em;
  }
}

.nav__drop-down {
  &::after {
    content: "";
    display: inline-block;

    margin-left: 2em;
    margin-right: 0.625em;

    width: 23px;
    height: 13px;

    background-image: url(../../assets/chevron.png);
    background-size: cover;
  }
}

.nav__link {
  display: block;
  position: relative;

  color: black;
  line-height: 1.4em;
  text-decoration: none;

  outline-offset: 0.25em;
  padding-bottom: 0.375em;

  border-bottom: 4px solid transparent;

  transition: all 0.3s;
  &:hover::after {
    width: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 0;
    height: 4px;

    background-color: #ff8800;

    transition: all 0.3s;
  }
}

.nav__btn-list {
  display: flex;
  align-items: center;

  margin-left: auto;

  list-style: none;
  font-size: 1.5rem;
}

.nav__btn-container {
  & + & {
    margin-left: 1.5em;
  }
}

.nav__btn {
  border: none;
  background-color: transparent;
  padding: 0.5em 1.25em;

  border: 3px solid transparent;
  border-radius: 0.5em;

  font-size: inherit;
  line-height: 1.4em;

  transition: all 0.3s;
  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0px 3px currentColor;
  }

  &--login {
    color: #0d9206;

    &:hover {
      border: 3px solid #0d9206;
    }
  }

  &--sign {
    background-color: #ff8800;

    color: white;

    &:hover {
      color: #ff8800;
      background-color: white;
      border: 3px solid #ff8800;
    }

    &:focus {
      color: #ff8800;
      background-color: white;
    }
  }
}
