@use '../../Styles/header';

.header {
  display: flex;
  align-items: center;

  margin: auto 0;

  @media screen and (max-width: 960px) {
    flex-direction: column;

    margin-top: 2rem;
  }

  @media screen and (min-width: 1921px) {
    width: 1800px;
    margin: auto auto;
  }
}

.header__left {
  position: relative;

  display: flex;
  align-items: center;

  flex-shrink: 0;
  width: 53.125%;

  padding-bottom: 100px;
  margin-left: 2.25rem;

  @media screen and (max-width: 960px) {
    flex-direction: column-reverse;

    width: 90%;
    margin: 0 auto;
    padding-bottom: 2rem;
  }

  @media screen and (min-width: 1921px) {
    margin-left: 0;
  }
}

.header__connect {
  @media screen and (max-width: 960px) {
    display: flex;
    align-self: flex-start;

    margin-top: 4rem;
  }

  @media screen and (max-width: 640px) {
    margin-top: 8rem;
  }
  &-media {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 4rem;
    height: 4rem;

    margin-bottom: 1.875rem;

    background-color: white;
    border: 0.25rem solid #0d9206;
    border-radius: 50%;

    transition: all 0.3s;
    &:hover {
      background-color: #0d9206;
    }

    &:hover * {
      filter: invert(1);
    }

    @media screen and (min-width: 1281px) and (max-width: 1600px) {
      width: 4.5rem;
      height: 4.5rem;
    }

    @media screen and (min-width: 961px) and (max-width: 1280px) {
      width: 5rem;
      height: 5rem;
    }

    @media screen and (max-width: 960px) {
      margin-bottom: 0;
      margin-right: 1em;
    }
  }

  &-share {
    display: flex;
    align-items: center;

    height: 4rem;
    width: max-content;

    padding: 0.75rem 1.25rem;

    background-color: #789376;
    border: 0.25rem solid transparent;
    border-radius: 6rem;

    text-decoration: none;

    &:hover {
      background-color: white;
      border: 0.25rem solid #789376;
    }

    &:hover * {
      filter: invert(1);
    }

    @media screen and (min-width: 1281px) and (max-width: 1600px) {
      height: 4.5rem;
    }

    @media screen and (min-width: 961px) and (max-width: 1280px) {
      height: 5rem;
    }
  }

  &-icon {
    height: 60%;

    transition: all 0.3s;

    &--twitter {
      height: 45%;
    }

    &--share {
      height: 90%;
    }
  }

  &-description {
    margin-left: 0.875em;

    font-family: "source-sans-pro", sans-serif;
    font-size: 1.75rem;
    line-height: 1.4em;
    color: white;

    transition: all 0.3s;
  }
}

.header__trip {
  position: relative;

  @media screen and (max-width: 960px) {
    width: 70%;
  }

  &-images {
    position: relative;

    max-width: 740px;

    z-index: -10;

    transform: translateX(-5rem);

    @media screen and (max-width: 960px) {
      transform: none;
    }

    &::before {
      content: "";
      position: absolute;
      top: 8%;

      width: 2rem;
      height: 2rem;

      background-color: #ff8800;
      border-radius: 50%;
    }
  }

  &-image {
    width: 100%;

    filter: drop-shadow(30px 70px 60px rgba(black, 0.2));
  }

  &-decoration {
    position: absolute;
    left: 0;

    z-index: -10;

    width: 100%;

    transform: rotate(-20deg);

    &--rotate {
      z-index: -20;

      transform: rotate(5deg);
    }
  }

  &-offer {
    position: absolute;
    top: 0;
    right: 0;

    padding: 1rem 1.5rem;
    padding-right: 2.5rem;

    background-color: white;
    box-shadow: -8px 14px 27px rgba(black, 0.15);
    border-radius: 0.75rem;

    @media screen and (max-width: 960px) {
      right: -20%;
    }
  }

  &-time {
    width: 70%;

    padding-bottom: 0.33em;

    border-bottom: 0.25rem solid #ff8800;

    font-size: 1.75rem;
    font-weight: 800;
    line-height: 1.4em;
    color: #0d9206;
  }

  &-cost {
    margin-top: 0.33em;

    font-family: "source-sans-pro", sans-serif;
    font-size: 1.5rem;
    line-height: 1.4em;
  }
}

.header__more {
  position: absolute;
  bottom: 5%;
  left: 0;

  display: flex;
  align-items: center;

  @media screen and (max-width: 960px) {
    flex-direction: row-reverse;

    left: initial;
    right: 0;
  }

  @media screen and (max-width: 640px) {
    bottom: 17%;
  }

  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 4rem;
    height: 4rem;

    box-shadow: 0px 4px 12px rgba(black, 0.25);
    border-radius: 50%;

    transition: all 0.3s;
    &:hover {
      transform: translateY(-10px);
      box-shadow: 0px 5px 14px rgba(black, 0.3);
    }

    @media screen and (min-width: 1281px) and (max-width: 1600px) {
      width: 4.5rem;
      height: 4.5rem;
    }

    @media screen and (min-width: 961px) and (max-width: 1280px) {
      width: 5rem;
      height: 5rem;
    }

    @media screen and (max-width: 960px) {
      margin-left: 1.25rem;
      &:hover {
        transform: translateX(10px);
        box-shadow: 0px 4px 12px rgba(black, 0.25);
      }
    }
  }

  &-icon {
    width: 60%;
    opacity: 0.5;

    @media screen and (max-width: 960px) {
      transform: rotate(-90deg);
      opacity: 1;
    }
  }

  &-description {
    margin-left: 1.25em;

    font-family: "source-sans-pro", sans-serif;
    font-size: 1.75rem;
    line-height: 1.4em;
    color: #789376;

    @media screen and (max-width: 960px) {
      margin-left: 0;
      color: #0d9206;
    }
  }
}

.header__right {
  width: 46.875%;

  @media screen and (max-width: 960px) {
    width: 90%;
    margin: 0 auto;
  }
}

.header__title {
  padding-left: header.$text-left-space;

  text-shadow: 0px 16px 21px rgba(black, 0.15);

  @media screen and (max-width: 960px) {
    padding-left: header.$text-left-space-mobile;
  }

  &-line {
    font-size: 5.25rem;
    font-weight: 800;
    line-height: 1.4em;
  }

  &-highlight {
    display: inline-block;

    margin-left: 0.75em;
    transform: translateY(-0.5em);

    color: #0d9206;

    @media screen and (max-width: 960px) {
      transform: none;
      margin-left: 0;
    }
  }

  &-break {
    @media screen and (max-width: 960px) {
      display: none;
    }

    &--visible {
      @media screen and (max-width: 960px) {
        display: block;
      }
    }
  }
}

.header__cta {
  padding-left: header.$text-left-space;
  width: 80%;

  border-left: 4px solid #0d9206;

  @media screen and (max-width: 960px) {
    width: 85%;
    margin-top: 1rem;

    padding-left: header.$text-left-space-mobile;
    border-left: none;
  }

  @media screen and (max-width: 640px) {
    width: 90%;
  }

  &-text {
    font-family: "source-sans-pro", sans-serif;
    font-size: 1.75rem;
    color: #7d7d7d;
    line-height: 1.42em;
  }

  &-btn {
    border: 0.25rem solid transparent;
    background-color: #ff8800;

    margin-top: 1.5em;
    padding: 0.5em 1.5em;

    font-size: 1.75rem;
    line-height: 1.4em;
    color: white;

    transition: all 0.3s;
    &:hover {
      cursor: pointer;

      border: 0.25rem solid #ff8800;
      background-color: white;
      color: #ff8800;
    }

    &:focus {
      outline-width: 0;
    }

    &:focus-visible {
      outline-width: 5px;
    }
  }
}

.header__images {
  position: relative;
  display: flex;
  overflow: hidden;

  margin-top: 4rem;
  padding-bottom: 2rem;

  @media screen and (max-width: 960px) {
    width: max(65%, 260px);
  }

  @media screen and (min-width: 1921px) {
    overflow: visible;
  }

  &-item {
    margin-right: 1rem;
    width: 40%;

    box-shadow: 5px 6px 6px rgba(black, 0.15);
    border-radius: 10px;

    @media screen and (min-width: 961px) and (max-width: 1600px) {
      width: 50%;
    }

    @media screen and (max-width: 960px) {
      width: 100%;
      box-shadow: none;
      & + & {
        display: none;
      }
    }
  }
}

.header__images-cta {
  position: absolute;
  bottom: 20%;
  right: 5%;

  display: flex;
  align-items: center;

  height: 3.5rem;

  text-decoration: none;

  &:hover > * {
    background-color: #fff;
  }

  &-description {
    margin-right: 1em;
    padding: 0.5em 0.875em;

    height: 100%;

    background-color: rgba(#ffffff, 0.75);
    border-radius: 2em;

    font-family: "source-sans-pro", sans-serif;
    font-size: 1.5rem;
    line-height: 1.4em;
    color: #0d9206;

    transition: all 0.3s;
  }

  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.5rem;

    height: 100%;

    background-color: rgba(#ffffff, 0.75);
    border-radius: 50%;

    transition: all 0.3s;
  }

  &-arrow {
    height: 100%;
    transform: rotate(-90deg);
  }
}
