.header {
  display: flex;
  align-items: center;

  min-height: 100vh;

  padding-top: 5em;

  font-family: acumin-pro, sans-serif;
}

.header__left {
  position: relative;
  margin-left: 3em;

  display: flex;
  align-items: center;
}

.header__social-media {
  margin-bottom: 12em;
  margin-right: 6em;
}

.header__tour {
  position: relative;
}

.header__preview {
  position: relative;

  height: 700px;
  margin-right: 4em;

  &::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 150px;

    width: 35px;
    height: 35px;

    background-color: #ff8800;
    border-radius: 50%;
  }
}

.header__preview-image {
  height: 100%;
}

.header__preview-description {
  position: absolute;
  top: 0;
  right: 0;

  padding: 1em;
  padding-right: 3em;

  border-radius: 10px;
  box-shadow: 0px 6px 12px rgba(black, 0.2);
  background-color: white;
}

.header__decoration {
  position: absolute;
  z-index: -10;
  left: 0;

  height: 110%;

  &--rotate {
    transform: rotate(90deg);
  }
}

.header__time {
  position: relative;

  padding-bottom: 0.4em;
  margin-bottom: 0.4em;

  color: #0d9206;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5em;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;

    height: 4px;
    width: 80%;

    background-color: #ff8800;
  }
}

.header__price {
  font-family: source-sans-pro, sans-serif;
  font-size: 2rem;
  line-height: 1.5em;
}

.header__next-trip {
  position: absolute;
  bottom: 0;

  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  &:hover .header__arrow-down-container {
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px rgba(black, 0.2);
  }

  &:hover .header__next {
    opacity: 1;
  }
}

.header__arrow-down-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 60px;
  width: 60px;

  box-shadow: 0px 2px 16px rgba(black, 0.2);
  border-radius: 50%;

  transition: all 0.3s;
}

.header__arrow-down {
  opacity: 0.7;

  height: 60%;
}

.header__next {
  opacity: 0.6;

  margin-left: 1em;

  font-family: source-sans-pro, sans-serif;
  font-size: 1.625rem;
  line-height: 1.5em;

  transition: all 0.3s;
}

.header__info {
  position: relative;
}

.header__carousel {
  display: flex;

  margin-top: 4em;
}

.header__place {
  width: 360px;

  margin-right: 1.5em;
}

.header__place-image {
  width: 100%;

  border-radius: 10px;
  box-shadow: 0 6px 16px rgba(black, 0.4);
}

.header__title {
  position: relative;

  margin-left: 2em;

  text-shadow: 0px 16px 21px rgba(black, 0.2);
}

.header__title-line {
  font-family: acumin-pro, sans-serif;
  font-size: 5.25rem;
  font-weight: 700;
  line-height: 1.125em;

  &--country {
    position: absolute;
    bottom: 0.5em;
    left: 4em;

    color: #0d9206;
  }
}

.header__description {
  opacity: 0.6;

  width: 700px;

  padding-top: 0.5em;

  font-family: source-sans-pro, sans-serif;
  font-size: 1.75rem;
  line-height: 1.5em;
}

.header__btn {
  margin: 2em 0;
}

.header__cta {
  border-left: 4px solid #0d9206;

  padding-left: 2em;
}

.header__show-photos {
  position: absolute;
  bottom: 2em;
  right: 19em;

  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  &:hover .header__arrow-container {
    background-color: rgba(white, 1);
    margin-left: 0.1em;
  }

  &:hover .header__show-all {
    background-color: rgba(white, 1);
    margin-left: 1.9em;
  }
}

.header__show-all {
  padding: 1em 1.5em;

  background-color: rgba(white, 0.8);
  border-radius: 50px;

  transition: all 0.3s;
}

.header__show {
  color: #0d9206;
  font-family: source-sans-pro, sans-serif;
  font-size: 1.75rem;
  line-height: 1.5em;
}

.header__arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 4.5em;
  width: 4.5em;

  margin-left: 2em;

  background-color: rgba(white, 0.8);
  border-radius: 50%;

  transition: all 0.3s;
}

.header__arrow-right {
  height: 65%;

  transform: rotate(-90deg);
}
